<StackLayout width="800px" height="1000px">
  <Label class="h2 text-center" text="Editar." textWrap="true"></Label>
  <FlexboxLayout flexDirection="row">
    <TextField width="80%" #text="ngModel" [(ngModel)]="randomNumber" hint="update" required minlength="3"></TextField>
    <Label *ngIf="text.hasError('required')" text="*"></Label>
    <Label *ngIf="!text.hasError('required') && text.hasError('minlength')" text="3+">
    </Label>
  </FlexboxLayout>
  <Button class="btn btn-outline" text="update" (tap)="update()"  *ngIf="text.valid"></Button>
</StackLayout>